@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*all*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(255, 255, 255);
}

:root{
    --grid_largura: 100%;
	--grid_altura: 100%;
	--grid_color:black;
	--grid_borda:1px solid #ccc;
    --borde_radius: 25px
}

/*navbar*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 60px;
    background-color: #02549F;
}

.nav-link{
    font-weight: 500;
    font-size: 48px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.icone{
    width: 90px;
    height: 90px;
}

.config{
    width: 40px;
    height: 40px;
}

/*imagens*/

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    height: calc(100vh - 130px); /* adjust the value to your needs */
    padding: 0 20px; /* add some horizontal padding to create space around the images */
    box-sizing: border-box;
  }
  
  .image-container img {
    width: 200px;
    height: 250px;
    margin: 10px;
  }

  .text_container{
    color: #02549F;
  }